
.itemImage
{
    max-width: 100%;
}

.subtext
{
    display: block;
    text-align: left;
}

.itemCatalog
{
    margin: auto;
    width: 90% !important;
}

.item-container
{
    position: relative;
}

.price-container
{
    float: right;
    position: absolute;
    right: 40px;
    background-color: #E84E0F;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.price-container:hover
{
    background-color: white;
    color: #E84E0F
}

.price-upper
{
    font-size: 14px !important;
    font-weight: bold;
}

.price-lower
{
    font-size: 10px !important;
    font-weight: bold;
    margin-top: -5px;
}